@import "../../../styles/responsive.scss";


.add-product {

    mat-form-field {
        text-align: right;
        width: 25vw;
    }

    .item-form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .item-form:first-child {
        margin-inline-end: auto;
    }

    .add-button {
        font-family: "M PLUS Rounded 1c";
        width: 160px;
        margin-block-start: 30px;
        margin-block-end: 15px;
        background: black;
        border-radius: 5vw;
        margin-inline-start: unset;
    }
}