@import "../../../styles/responsive.scss";

.search-product {
    display: flex;
    flex-direction: column;

    .calculator-input {
        font-family: "M PLUS Rounded 1c";
        font-weight: bold;
        background: #ff8c62;
        border-radius: 5vw;
        border: unset;
        height: 8vw;
        width: 40vw;
        text-align: right;
        padding-inline-start: 30px;

        @include md {
            height: 45px;
        }

        &::placeholder {
            color: black;
            font-weight: bold;
        }
    }

    .list {
        overflow-y: scroll;
        max-height: 200px;
        margin-block-start: 15px;

        &.search {
            max-height: 45vw;

            @include sm {
                max-height: 220px;
            }
        }

        .select-info {
            display: flex;
            align-items: center;
            background-color: white;
            border: 0.1vw solid rgba(0, 0, 0, 0.2);
            padding: 2vw 2vw;
            color: black;
            cursor: pointer;

            @include md {
                padding: 1vw 2vw;
            }

            &.selected {
                color: #2196f3;
                font-weight: 600;
            }

            .food-image {
                margin: auto;
                display: block;

                width: 30px;
                border-radius: 5em;
                width: 50px;
                height: 50px;
                padding: 2px;
                border: 1px solid #dcd7d3;
                margin: 0 8px;

                @include md {
                    width: 96px;
                    height: 96px;
                }
            }

            .food-info {
                width: 100%;
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 3vw;
                    line-height: 5vw;
                    font-weight: bold;

                    @include sm {
                        font-size: 20px;
                        line-height: 30px;
                    }

                    @include lg {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }

                .quantity-info {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .text {
                        font-size: 2.5vw;

                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        @include sm {
                            font-size: 15px;
                        }
                    }

                    .quantity-input {
                        height: 1.5rem;
                        width: 18vw;

                        @include sm {
                            width: 70px;
                        }
                    }

                    .add-icon {
                        margin-inline-end: auto;
                        cursor: pointer;
                    }
                }
            }
        }
        :hover {
            background-color: #d5dce7;
        }

        .more-result {
            display: flex;
            justify-content: center;
            .more-result-button {
                font-family: "M PLUS Rounded 1c";
                width: 160px;
                margin-block-start: 30px;
                margin-block-end: 15px;
                background: black;
                border-radius: 5vw;
                margin-inline-start: unset;
            }
        }
    }

}

.spinner {
    display: flex;
    justify-content: center;
    margin-block-start: 10px;
}