<div class="calculator-main">
    <input type="text" placeholder="חפש" class="form-control calculator-input" #filter (keyup)="onKey($event)">

    <div *ngIf="!_isEmptyResult && !_isEmpty" class="list" [ngClass]="{'search': _data$.length > 3}">
        <div *ngFor="let item of _data$ | async ;trackBy trackByIndex" class="select-info">
            <!-- <img class="food-image" src="https://img.mako.co.il/2020/04/13/potato_bread2_i.jpg" /> -->
            <div class="food-info">
                <span class="title">{{item.Description}}</span>

                <div class="quantity-info">
                    <span class="text">כמות (ג):</span>
                    <input type="number" minlength="0" class="form-control  quantity-input" [(ngModel)]="item.Quantity">
                    <mat-icon *ngIf="!item.IsAdded" class="add-icon" [ngStyle]="{'color':'#ff8c62'}"
                        (click)="onAddItem(item)">add_circle</mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isProccessing" class="spinner">
        <mat-spinner class="custom-spinner" diameter="50"></mat-spinner>
    </div>

    <span *ngIf="_isEmptyResult && !isProccessing"> אין תוצאות</span>

    <button class="add-button" (click)="showFormProduct = !showFormProduct" mat-raised-button color="primary">
        <span *ngIf="!showFormProduct"> הוסף\י מוצר </span>
        <span *ngIf="showFormProduct"> סגירה </span>
        <mat-icon *ngIf="!showFormProduct" [ngStyle]="{'color':'#ff8c62'}">expand_more</mat-icon>
        <mat-icon *ngIf="showFormProduct" [ngStyle]="{'color':'#ff8c62'}">expand_less</mat-icon>
    </button>

    <div *ngIf="showFormProduct" class="item-form">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>שם מוצר</mat-label>
            <input matInput type="text" [(ngModel)]="newItem.Name">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>גרם</mat-label>
            <input matInput type="number" [(ngModel)]="quantity">
        </mat-form-field>

        <!-- <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>קלוריות</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.Calories">
        </mat-form-field> -->

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>חלבונים</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.Proteins">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>פחמימות</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.Carbohydrates">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>סיבים</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.DietaryFiber">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>שומנים</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.Fats">
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>שומן רווי</mat-label>
            <input matInput type="number" [(ngModel)]="newItem.SaturatedFattyAcids">
        </mat-form-field>
    </div>

    <button *ngIf="showFormProduct" class="add-button" (click)="addItem()" mat-raised-button color="primary">
        <span> הוסף\י </span>
        <mat-icon [ngStyle]="{'color':'#ff8c62'}">add_box</mat-icon>
    </button>

    <div class="table-list">

        <table>
            <tr>
                <th></th>
                <th>שם</th>
                <!-- <th>קלוריות</th> -->
                <th>חלבונים</th>
                <th>פחמימות</th>
                <th>שומנים</th>
                <th>פינוק</th>
            </tr>

            <tr *ngFor="let item of _table">
                <td>
                    <mat-icon class="remove-icon" [ngStyle]="{'color':'#ff8c62'}" (click)="onRemoveItem(item)">
                        remove_circle</mat-icon>
                </td>
                <td>{{item.Name}}</td>
                <!-- <td>{{item.Calories.toFixed(1)}}</td> -->
                <td>{{item.Proteins.toFixed(1)}}</td>
                <td>{{item.Carbohydrates.toFixed(1)}}</td>
                <td>{{item.Fats.toFixed(1)}}</td>
                <td>{{item.Dessert.toFixed(1)}}</td>
            </tr>

            <tr class="sum" *ngIf="_table.length > 0">
                <td class="empty"> </td>
                <td style="font-weight: bold">סה"כ</td>
                <!-- <td style="font-weight: bold">{{CaloriesSum.toFixed(1)}}</td> -->
                <td style="font-weight: bold">{{ProteinsSum.toFixed(1)}}</td>
                <td style="font-weight: bold">{{CarbohydratesSum.toFixed(1)}}</td>
                <td style="font-weight: bold">{{FatsSum.toFixed(1)}}</td>
                <td style="font-weight: bold">{{DessertSum.toFixed(1)}}</td>
            </tr>

        </table>

    </div>

    <button *ngIf="_table.length > 0" (click)="clear()" mat-raised-button color="primary">
        איפוס
        <mat-icon [ngStyle]="{'color':'#ff8c62'}">keyboard_return</mat-icon>
    </button>
</div>